[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=local/chroot share
Type=Application
GenericName=local/chroot share
Comment=share your local home dir in the chroot
Icon=/usr/share/pixmaps/share.png
Exec=gnome-commander -l /media/pc-local
Terminal=false
StartupNotify=false
